@model List<WarehouseDTO>
@{
    ViewData["Title"] = "WarehouseList";
    Layout = "~/Views/Shared/_SideMenu.cshtml";
}

<form method="post">

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(WarehouseDTO item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.City.Name</td>
                    <td>@item.Country.Name</td>
                    <td>
                        <input type="submit" value="Delete" class="btn btn-danger" asp-action="Delete" asp-route-Id="@item.Id" />
                        <input type="submit" value="Edit" class="btn btn-secondary" asp-action="Edit" asp-route-Id="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

